.Feeds{
    background-color: rgb(250, 250, 250);
    display: flex;

    * {
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
    
    a {
        display: block;
        text-decoration: none;
    }
    
    .mainContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        max-width: 935px;
        width: 935px;
        height: 100%;
        margin-top: 54px;
        padding-top: 30px;
    }
    
    .feeds {
        align-self: self-start;
        max-width: 614px;
        margin-right: 28px;
        margin-left: 0;
    }
    
    .mainRight{
        position: fixed;
        width: 293px;
    }
    
    .feedsContentLive {
        width: 614px;
        height: 118px;
        position: relative;
        margin: 0 0 24px;
        padding: 16px 0;
        background-color: white;
        border: 1px solid rgb(219, 219, 219);
        border-radius: 3px;
        z-index: 0;
    }
    
    .mainRightProfileWrap{
        display: flex;
        width: 100%;
        margin-top: 24px;
    }
    
    .mainRightProfileContent{
        width: 55px;
        height: 55px;
        margin: 0;
        margin-left: 5px;
        border-radius: 70%;
        background: url(https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-19/s150x150/13768284_1670405186613346_1275285357_a.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_ohc=E_gctfZc58MAX93sp83&oh=45433d23d4cbd9b26c6b1fd73a584686&oe=5F49206E)no-repeat center / 100%;
    }
    
    .rightProfileNameWrap {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
        margin-left: 20px;
        list-style: none;
    }
    
    .rightProfileNameId{
        font-size: 1.4rem;
        font-weight: 600;
    }
    
    .rightProfileName{
        margin: 0;
        font-size: 1.2rem;
        color: rgb(153,153,153);
    }
    
    .contentMainContainer{
        width: 614px;
        padding-top: 0px;
        margin-bottom: 60px;
        border: 1px solid rgb(219, 219, 219);
        background-color: white;
    }

    .contentMainHeader{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        height: 60px;
        margin: 0;
        padding: 12px 16px;
        border-bottom-width: .5px;
    }
    
    .mainHeaderIcon {
        display: block;
        width: fit-content;
        height: fit-content;
        margin: 0;
    }
    
    .userIcon img{
        width: 32px;
        height: 32px;
        border-radius: 70%;
    }
    
    .mainHeaderRight {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 0 0 0 14px;
    }

    .mainHeaderId {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0;
        font-weight: 600;
        font-size: 1.4rem;
    }
    
    .mainHeaderOption {
        display: flex;
        align-items: center;
        width: 40px;
        margin: 0;
    }
    
    .mainHeaderBtn {
        border: none;
        outline: none;
        cursor: pointer;
        background-color: white;
    }
    
    .contentMainImg {
        height: 614px;
        margin: 0;
        border-right:1px solid rgb(219, 219, 219);
        background: url(https://scontent-gmp1-1.cdninstagram.com/v/t51.2885-15/e35/115880856_321635752545296_5213940160905227514_n.jpg?_nc_ht=scontent-gmp1-1.cdninstagram.com&_nc_cat=108&_nc_ohc=NLxPpwNKGvMAX9J6lQa&oh=bd946da55c7510a44d162f49c720351d&oe=5F4A219C)no-repeat center;
    }
    
    .contentMainText {
        width: 100%;
        height: 100%;
        margin-top: 4px;
    }
    
    .content-mainIcon {
        padding: 0 14px;
    }
    
    .mainTextIcon {
        display: flex;
        padding: 0 16px;
    }
    
    .mainIcon button{
        height: 40px;
        padding: 8px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: white;
    }

    button.heart {
        padding-left: 0;
    }
    
    button.share {
        padding-right: 0;
    }
    
    .mainIconRight {
        display: inline-block;
        margin-left: 429px;
    }
    
    .mainTextView {
        padding: 0 16px;
        margin-bottom: 8px;
        font-size: 1.4rem;
        font-weight: 600;
    }
    
    .mainTextContainer {
        padding: 0 16px;
        font-size: 1.4rem;
    }
    
    .main-text-userComnment {
        margin-bottom: 4px;
        font-weight: 600;
    }
    
    .userCommentId {
        font-size: 1.4rem;
        font-weight: 600;
    }
    
    .userCommentText div{
        font-size: 1.4rem;
    }
    
    .userCommentText a{
        font-size: 1.4rem;
        text-decoration: none;
    }
    
    .mainTextUpTime {
        height: 16px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding-left: 16px;
        color: rgb(153,153,153);
    }
    
    .mainTextReplyContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-height: 300px;
        height: 56px;
        padding: 0 16px;
        overflow: hidden auto;
        border-top: 1px solid rgb(219, 219, 219);
    }
    
    .replyContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 18px;
        margin: 0;
    }

    .replyArea {
        width: 90%;
        height: 18px;
        margin: 0;
        border: none;
        resize: none;
        overflow: hidden;
        outline: none;
        font-size: 1.4rem;
    }
    
    .replyBtnDiv {
        margin: 0;
        border: none;
        background: none;
        outline: none;
        font-size: 1.4rem;
        cursor: default;
        font-weight: 600;
        color: rgba(65, 147, 239, .5);
    }
    button.active {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        color: rgba(65, 147, 239, 1);
    }
    
    button.replyBtn-off {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        color: rgba(65, 147, 239, .5);
    }
    
    .rightSuggestion {
        display: flex;
        flex-direction: column;
        height: 256px;
        margin: 0 0 11px;
        margin-top: 23.5px;
    }
    
    .suggestionHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 8px;
    }
    
    .suggestionHeaderFont {
        font-size: 1.4rem;
        font-weight: 600;
    }
    
    .suggestionHeaderRight {
        margin: 0;
        font-size: 1.4rem;
        color: rgb(142,142,142);
    }
    
    .suggestionHeaderLink{
        margin: 0;
        white-space: nowrap;
        font-size: 1.2rem;
        color: rgb(38,38,38);
    }
    
    .suggestionMainWrap {
        height: 40px;
        margin: 4px 0;
    }
    
    .suggestionMain {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1px;
    }

    .suggestionMainProfile {
        width: 42px;
        margin: 0 12px 0 0;
        padding: 3px;
    }
    
    .sugMainImg {
        width: 32px;
        height: 32px;
        border-radius: 70%;
        background: url(/images/sangkuoh/sub-img.png)no-repeat center / 100%;
        border: 1px solid rgb(219, 219, 219);
    }
    
    .sugName {
        width: 100%;
    }
    
    .sugNameText {
        color: black;
        font-size: 1.4rem;
    }
    
    .sugNameTextID {
    font-size: 1.2rem;
        font-weight: 600;
    }
    
    .sugNameTextH {
        font-size: 1.2rem;
        color: rgb(153,153,153);
    }
    
    .sugNameBtn {
        margin: 0 0 0 8px;
    }
    
    .followBtn {
        width: 34px;
        border: 0;
        outline: none;
        font-size: 1.2rem;
        cursor: pointer;
        color: #0095f6;
        background-color: rgb(250, 250, 250);
    }
    
    .rightFooter {
        width: 100%;
        height: 106px;
        margin-top: 20px;
        padding-bottom: 38px;
    }
    
    .rightNav {
        margin-bottom: 16px;
    }
    
    .rightNavItem {
        margin-bottom: 16px;
        list-style: none;
    }
    
    .rightNavItemLi {
        display: inline-block;
        font-size: 1.1rem;
        color: #c7c7c7;
        font-weight: 400;
        line-height: 13px;
    }
    
    .rightNavItemLi:not(:last-child)::after {
        content: '\00B7';
        margin: 0 .25em 0 .25em;
        }
    
    .userReplyContainer {
        display: flex;
        align-items: center;
        width: 100%;
        height: 18px;
        margin: 2px 0;
        font-size: 1.4rem;
    }
    
    .userId {
        margin: 0;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .userReply {
        margin: 0;
        margin-left: 3px;
        font-size: 1.4rem;
    }
    
    #userReplyBtn {
        margin: 0;
        margin-left: auto;
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
    }
}