@import "../../../Styles/common.scss";

$boderRadius: 5px;

@mixin outLine {
  border: 1px solid rgba(219, 219, 219, 1);
}

@mixin columnAlign {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Login {
  @include center;
  height: 100vh;
  #login_page {
    @include columnAlign;
    text-align: center;
    width: 350px;
    height: 380px;
    padding: 30px 0;
    @include outLine;
    #login_header {
    }
    #login_section {
      height: 250px;
      @include columnAlign;
      .login_input {
        .login_content {
          & > input {
            width: 250px;
            height: 30px;
            font-size: 12px;
            text-indent: 10px;
            border-radius: $boderRadius;
            @include outLine;
            background-color: rgba(206, 204, 204, 0.1);
            &:focus {
              outline: none;
            }
            &:first-child {
              margin-top: 30px;
              margin-bottom: 5px;
            }
          }
        }
        .login_btn {
          width: 254px;
          height: 30px;
          margin-top: 20px;
          color: white;
          background-color: rgba(0, 149, 246, 1);
          @include outLine;
          border-radius: $boderRadius;
          font-weight: bold;
          &:disabled {
            background-color: rgba(0, 149, 246, 0.3);
          }
          &:focus {
            outline: none;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
      #login_bottom {
        .password_link {
          & > a {
            color: rgba(0, 55, 107, 1);
          }
        }
      }
    }
  }
}
